<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>咖啡圣地的特色</title>
    {% load static  %}
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div id="page">
		<div>
			<div id="header">
				<a href="index.html"><img src="{% static 'images/logo.png' %}" alt="Image"></a>
				<ul>
					<li >
							<li >
							<a href="/coffeehome/index">主页</a>
						</li>
						<li>
							<a href="/coffeehome/menu">菜单</a>
						</li>
						<li>
							<a href="/coffeehome/locations">新产品</a>
						</li>
						<li>
							<a href="/coffeehome/blog">品牌特色</a>
						</li>
						<li>
							<a href="/coffeehome/about">关于我们</a>
						</li>
				</ul>
			</div>
			<div id="body">
				<div id="figure">
					<img src="{% static 'images/headline-blog.jpg' %}" alt="Image">
				</div>
				<div>
					<a href="blog.html" class="blog">Blog</a>
					<div id="blog">
						<ul>
							<li>
								<div>
									<div>
										<span class="month">Dec 2016</span><span class="date">01</span>
									</div>
									<h1><a href="blog.html">品牌优势</a></h1>
								</div>
								<p>
								咖啡地带统一、完整的企业品牌形象设计与使用（包括：logo、网站域名、CIS策划系统、统一门面及招牌等）；品牌建设、品牌联盟与品牌推广；各咖啡地带中西餐厅的互荐促销广告；在国内品牌网站的整体宣传推广等品牌核心竞争优势。
								</p>
								<a href="blog.html" class="readmore">更多</a>
							</li>
							<li>
								<div>
									<div>
										<span class="month">Nov 2015</span><span class="date">30</span>
									</div>
									<h1><a href="blog.html">技术支持</a></h1>
								</div>
								<p>
								　咖啡地带中西餐厅加盟总部拥有国内专业的连锁加盟体系；改造设计、装修现场施工指导；开业指导、运营督导；专业的中西餐厅营运管理培训；标准化的服务质量管理系统、物料配送供货渠道；标准化的培训运营操作手册；专业的产品研发团队，全新的理念，全新的产品结构，为光顾咖啡地带中西餐厅的顾客们奉上无可挑剔的香溢咖啡及美味爽口的果木肥牛扒，这是至今国内同行业均难以达到的技术水平。
								</p>
								<a href="blog.html" class="readmore">更多</a>
							</li>
							<li>
								<div>
									<div>
										<span class="month">Nov 2015</span><span class="date">29</span>
									</div>
									<h1><a href="blog.html">风险控制优势</a></h1>
								</div>
								<p>
								　　“低成本运营、低风险、高效益”的连锁经营模式是咖啡地带总部对每一位加盟业主的承诺，通过连锁经营系统、科学、标准的筹建指导，在开业前大大降低了投资风险和经营成本，可以说已经赢在起跑线上了。
								</p>
								<a href="blog.html" class="readmore">更多</a>
							</li>
						</ul>
						<ul>
							<li>
								<h2><a href="blog.html">开一家咖啡店，投资额是多少？</a></h2>
								<span class="date">02 Dec 2016</span>
								<p>
									意向地点定下之后，我们会有专业的评估人员进行现场地点评估,根据您的店面的实际构造来做地点可行性的评估以及工程投资预算分析，一般情况说投资一家店总投资在50万---200万之间。
								</p>
								<a href="blog.html" class="readmore">更多</a>
							</li>
							<li>
								<h2><a href="blog.html">几种加盟方式</a></h2>
								<span class="date">02 Dec 2016</span>
								<p>
								　特许加盟：加盟商自筹全部开店费用，自行管理，总部初期参与专门店评估、专业图纸设计、施工及监理、人员培训、管理糸统流程培训、协助开店筹备等全方面支持，加盟店接受咖啡地带总部的定期督导。
　　
　　直营加盟：为股份制，双方共同投入资金，由咖啡地带总部直接进行经营管理。
　　
　　托管加盟：加盟商自筹全部开店费用，委托咖啡地带总部经营管理，加盟商负责监督管理。
								</p>
								<a href="blog.html" class="readmore">更多</a>
							</li>
							<li>
								<h2><a href="blog.html">可否自行店面设计，工程装修？</a></h2>
								<span class="date">02 Dec 2015</span>
								<p>
								由总公司工程部统一设计，统一装修，其价格按市场优惠价，设计费计150元/平方。
　　
								</p>
								<a href="blog.html" class="readmore">更多</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index.html"><img src="{% static 'images/logo2.png' %}" alt="Image"></a>
					<p class="footnote">
						&copy; Yay&#33;Koffee 2011.<br>All rights reserved.&nbsp;<a href="http://www.xtgov.net/" title="迅腾科技" target="_blank">迅腾科技</a>
					</p>
				</div>
				<div class="section">
					<ul>
						<li >
							<a href="/coffeehome/index">主页</a>
						</li>
						<li>
							<a href="/coffeehome/menu">菜单</a>
						</li>
						<li>
							<a href="/coffeehome/locations">新产品</a>
						</li>
						<li>
							<a href="/coffeehome/blog">品牌特色</a>
						</li>
						<li>
							<a href="/coffeehome/about">关于我们</a>
						</li>
					</ul>
					<div id="connect">
						<a href="#" target="_blank" id="facebook">Facebook</a>
						<a href="#" target="_blank" id="twitter">Twitter</a>
						<a href="#" target="_blank" id="googleplus">Google+</a>
						<a href="index.html" id="rss">RSS</a>
					</div>
					<p>
						<h3> 所有的内容版权归<a href="http://www.snbc.edu.cn/" title="陕工商" target="_blank">陕工商</a> 所有，盗版必究。</h3>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>