<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>咖啡圣地的特色</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div id="page">
		<div>
			<div id="header">
				<a href="index.html"><img src="{% static 'images/logo.png' %}" alt="Image"></a>
				<ul>
					<li class="current">
						<a href="/coffeehome/index">主页</a>
					</li>
					<li>
						<a href="/coffeehome/menu">菜单</a>
					</li>
					<li>
						<a href="/coffeehome/locations">新产品</a>
					</li>
					<li>
						<a href="/coffeehome/blog">品牌特色</a>
					</li>
					<li>
						<a href="/coffeehome/about">关于我们</a>
					</li>
				</ul>
			</div>
			<div id="body">
				<div id="figure">
					<img src="{% static 'images/headline-menu.jpg' %}" alt="Image">
					<span>赵阳老师说：清晨一杯，精神一天</span>
				</div>
				<div>
					<a href="menu.html" class="whatshot">What&#39;s Hot</a>
					<div>
						<ul>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee1.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">卡布基诺咖啡</a>
									<p>
										尝鲜价 &#36;18元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee2.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">过滤式咖啡</a>
									<p>
										尝鲜价&#36;16元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee3.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">无咖啡因的咖啡</a>
									<p>
										尝鲜价 &#36;12元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee4.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">拿铁咖啡</a>
									<p>
										尝鲜价 &#36;23元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee5.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">玛奇雅朵咖啡</a>
									<p>
										尝鲜价 &#36;34元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee6.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">摩卡咖啡</a>
									<p>
										尝鲜价&#36;15元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee3.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">土耳其咖啡</a>
									<p>
										尝鲜价 &#36;12元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee2.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">曼特宁咖啡</a>
									<p>
										尝鲜价&#36;10元
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="{% static 'images/coffee1.jpg' %}" alt="Image"></a>
								<div>
									<a href="index.html">维也纳咖啡</a>
									<p>
										尝鲜价 20元
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="#"><img src="{% static 'images/logo2.png' %}" alt="Image"></a>
					<p class="footnote">
						&copy; Yay&#33;Koffee 2011.<br>All rights reserved.&nbsp;<a href="http://www.xtgov.net/" title="迅腾科技" target="_blank">迅腾科技</a>
					</p>
				</div>
				<div class="section">
					<ul>
						<li class="current">
							<a href="index.html">主页</a>
						</li>
						<li>
							<a href="menu.html">菜单</a>
						</li>
						<li>
							<a href="locations.html">新产品</a>
						</li>
						<li>
							<a href="blog.html">品牌特色</a>
						</li>
						<li>
							<a href="about.html">关于我们</a>
						</li>
					</ul>
					<div id="connect">
						<a href="#" target="_blank" id="facebook">Facebook</a>
						<a href="#" target="_blank" id="twitter">Twitter</a>
						<a href="#" target="_blank" id="googleplus">Google+</a>
						<a href="#" id="rss">RSS</a>
					</div>
					<p>
						<h3> 所有的内容版权归<a href="http://www.snbc.edu.cn/" title="陕工商" target="_blank">陕工商</a> 所有，盗版必究。</h3>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>